%section.item-box.item-form
  =link_to item_path(item.id) do
    %figure.item-box__photo
      .item-box-image
        - if item.images.present?
          = image_tag item.images.first.image, size: "188x188"
    .item-box__text
      %h3.item-box__text__name.font-2
        = item.item_name
      .item-box__text__num.clearfix
        .item-box__text__num__price.bold ¥
        .item-box__text__num__price.bold
          = number_to_currency(item.price, unit: "", precision: 0)
        .item-box__text__num__likes.font-2
          %i{class: "far fa-heart heart-icon"}
          %span 10
        .item-box__text__num__tax (税込)
