= render partial: 'items/shared/header'
%main.item-box-container.clearfix
  .item-content
    %ul.parts-nav.clearfix
      - @medium_category_items.each do |mcategory|
        %li
          %a.l-category-n
            = mcategory.medium_category
    = render partial: 'form', locals: {item: @item}
  = render partial: 'users/footer_sell_btn'
=render "items/shared/footer"
