$white: #fff;
$light_blue: #b3d4fc;
$clean_red: #ea352d;
$thin_gray: #f5f5f5;
$form_gray: #fafafa;
$facebook_icon: #385185;
$google_icon: #dc4e41;
$meil_icon: #eee;
$new_acount: #0099e8;
$font_light_blue: #0099e8;
$gray_heart: #CCCCCC;
$btn_grey: #aaa;
$btn_red: #ea352d;
