.single-main
  .i-single-container
	%section.l-single-container
  %h2.l-single-head 新規会員登録
  .l-single-inner
    .lsingle-content
      %button#facebook-login.btn-default.btn-sns.btn-sns-facebook
        %i.icon-facebook Facebookで登録
      %button#google-login.btn-default.btn-sns.btn-sns-google
        %i.icon-google-plus Googleで登録
      %a.btn-default.btn-mail{:href => "https://www.mercari.com/jp/signup/registration/"}
        %i.icon-mail メールアドレスで登録


