%ul.dropdown_category
  %li.dropdown_category__list
    %h3
      %a レディース
      %ul.dropdown_midcategory
        %li.dropdown_midcategory__list
          %h3
            %a トップス
        %li.dropdown_midcategory__list
          %h3
            %a ジャケット/アウター
        %li.dropdown_midcategory__list
          %h3
            %a パンツ
        %li.dropdown_midcategory__list
          %h3
            %a スカート
        %li.dropdown_midcategory__list
          %h3
            %a ワンピース
        %li.dropdown_midcategory__list
          %h3
            %a 靴
        %li.dropdown_midcategory__list
          %h3
            %a ルームウェア/パジャマ
        %li.dropdown_midcategory__list
          %h3
            %a レッグウェア
        %li.dropdown_midcategory__list
          %h3
            %a 帽子
        %li.dropdown_midcategory__list
          %h3
            %a バッグ
        %li.dropdown_midcategory__list
          %h3
            %a アクセサリー
        %li.dropdown_midcategory__list
          %h3
            %a ヘアアクセサリー
        %li.dropdown_midcategory__list
          %h3
            %a 小物
        %li.dropdown_midcategory__list
          %h3
            %a 時計
        %li.dropdown_midcategory__list
          %h3
            %a ウィッグ/エクステ
        %li.dropdown_midcategory__list
          %h3
            %a 浴衣/水着
        %li.dropdown_midcategory__list
          %h3
            %a スーツ/フォーマル/ドレス
        %li.dropdown_midcategory__list
          %h3
            %a マタニティ
        %li.dropdown_midcategory__list
          %h3
            %a その他
  %li
    %h3
      %a メンズ
  %li
    %h3
      %a ベビー・キッズ
  %li
    %h3
      %a インテリア・住まい・小物
  %li
    %h3
      %a 本・音楽・ゲーム
  %li
    %h3
      %a おもちゃ・ホビー・グッズ
  %li
    %h3
      %a コスメ・香水・美容
  %li
    %h3
      %a 家電・スマホ・カメラ
  %li
    %h3
      %a スポーツ・レジャー
  %li
    %h3
      %a ハンドメイド
  %li
    %h3
      %a チケット
  %li
    %h3
      %a 自動車・オートバイ
  %li
    %h3
      %a その他
