.sell-dropbox-container.clearfix
  .sell-upload-items
    %ul
      %li.sell-upload-item
        %figure.sell-upload-figure
          -# %img{src: "", class: "for-crop-class", id: "preview"}
          %input{type: "file", id: "getfile", multiple: true}
          #preview
        .sell-upload-button
          -# %a  編集
          -# %a  削除
      %li.sell-upload-item
      %li.sell-upload-item
      %li.sell-upload-item
