.font-2 {
  font-weight: 400;
  font-size: 16px;
}

.pickup-container{
  @include tab () {
    padding: 40px 0;
  }
  .pickup-head {
    font-size: 28px;
    text-align: center;
  }
  .item-box-container{
      font-size: 22px;
      width: 700px;
      margin: 0 auto;
      @include pc() {
        width: 940px;
      }
    .sub-title{
      font-size: 22px;
      margin: 26px 11px;
      text-align: center;
      color: #0099e8;
    }
   }
}
.items-box-content{
  @include tab() {
    width: auto;
    }
    .item-box{
      position:relative;
      @include tab() {
      margin-right: 20px;
      width: 213px;
    }
      &__photo{
        @include tab() {
          height: 220px;
        }
          .item-box-image{
            width: 100%;
            height: 100%;
          }
      }
      &__text{
        height: 110px;
        &__name{
          height: 3em;
          line-height: 1.5;
        }
      &__num{
        margin-top: 8px;
        &__price{
          font-weight: 600;
        }
        &__likes{
          .heart-icon{
            margin-right: 4px;
          }
        }
      }
    }
  }
}

 .view-all{
    text-align: right;
    font-size: 14px;
    color: #0099e8;
    width: 99%;
    @include tab() {
      padding: 20px 0 30px;
    }
  }

.view-all-link{
  color: #0099e8;
  }

.item-box{
  background-color: $white;
  float: left;
  &__photo{
        overflow: hidden;
        width: auto;
          .item-box-image{
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
      }
      &__text{
        padding: 16px;
        color: #333;
        &__name{
          overflow: hidden;
          position: relative;
          height: 3em;
          line-height: 1.5;
          word-break: break-word;
          white-space: normal;
        }
      &__num{
        margin-top: 8px;
        &__price{
          font-size: 16px;
          float: left;
          @include pc () {
            font-size: 20px;
          }
        }
        &__likes{
          float: right;
          color: #333;
          .heart-icon{
            color: $gray_heart;
            margin-right: 4px;
          }
        }
        &__tax{
          font-size: 10px;
          clear: both;
          color: #333;
      }
    }
  }
}

.sold-badge{
  @include item-btn();
  @include tab() {
  font-size: 26px;
  top: 22px;
 }
}

.item-sold-out-badge:after{
  border-color: $clean_red transparent transparent transparent;
  @include item-default-btn();
  @include tab() {
  border-width: 100px 100px 0 0;
  }
}

.sold-badge-item:after{
  border-width: 120px 120px 0 0;
}

.stop-badge{
  @include item-btn();
  @include tab() {
  font-size: 18px;
  top: 35px;
  }
}
.stop-badge-item:after{
  border-color: $btn_grey transparent transparent transparent;
  border-width: 120px 120px 0 0;
}
