// スライダーの記載
.owl-slider{
  width: 300px;
  height: 300px;
  overflow: hidden;
  position: relative;
  .owlSet{
      width: 1200px;
      position:absolute;
    .owl-stage-outer{
       // display:block;
       width:300px;
       height: 300px;
       border: 1px solid #f00;
       float: left;
    }
  }
}
//アイテム詳細ページ
.item-single-contents{
  background-color: #fff;
  margin: 40px auto 0;
  @include tab() {
    padding: 24px 24px 16px 24px;
  }
  .item-detail-name{
    font-size: 24px;
    text-align: center;
    word-wrap: break-word;
    line-height: 1.4;
  }
    .item-main-content{
      margin-top: 16px;
      .item-photo{
        float: left;
        min-width: 300px;
        min-width: 300px;
        min-height: 375px;
      .owl-dots{
        line-height: 0;
        .owl-dot{
          width: auto;
          overflow: hidden;
          margin:0 -1.5px;
          opacity: 0.4;
          .owl{
            margin:0 -1.7px;
          }
        }
        .active{
          opacity: 1;
        }
      }
    }
    .item-detail-table{
      width: 100%;
      @include tab() {
      float: right;
      max-width: 300px;
      height: 375px;
      margin: 0 auto;
      }
    a{
      @include link();
    }
      th{
      width: 39%;
      text-align: left;
      background-color: #fafafa;
      border: 1px solid #f5f5f5;
     }
      td{
        padding: 8px;
        border: 1px solid #f5f5f5;
        .item-user-ratings{
          display: inline-block;
          .icon-good{
            color: #ef5185;
            font-size: 18px;
          }
          .icon-normal{
            color: #fba933;
            font-size: 18px;
          }
          .icon-bad{
            color: #6ab5d8;
            font-size: 18px;
          }
        }
      }
    }
  }
    .item-price-box{
    color: black;
    margin-top: 24px;
    text-align: center;
    .item-price{
      @include tab() {
      margin-right: 16px;
      font-size: 50px;
      }
    }
    .item.tax{
      font-size: 10px;
    }
    .item-shipping-fee{
      font-size: 16px;
      display: inline-block;
    }
  }
  .item-change-box{
   width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: $thin_gray;
    padding: 5px;
    margin-top: 40px
  }
  .btn__default{
    &--red{
      color: $white;
      line-height: 48px;
      display:block;
      background-color: $btn_red;
      width: 100%;
      height: 50px;
      text-align: center;
      margin: 0 auto;
      margin: 16px 0 16px 0;
    }
    &--or{
      text-align: center;
    }
    &--grey{
      color: $white;
      line-height: 48px;
      display:block;
      background-color: $btn_grey;
      width: 100%;
      height: 50px;
      text-align: center;
      margin: 0 auto;
      margin: 16px 0 16px 0;
    }
  }
  .item-buy-btn{
    display: block;
    margin-top: 16px;
    text-align: center;
    font-size: 24px;
    @include tab() {
    height: 60px;
    line-height: 60px;
   }
  }
  .item-buy-text{
    display: block;
    margin-top: 16px;
    text-align: center;
    font-size: 20px;
    @include tab() {
    height: 60px;
    line-height: 60px;
   }
  }
  .item-description{
    line-height: 1.5;
    @include tab() {
      padding-top: 32px;
      font-size: 18px;
    }
    .item-button-container{
      margin-top: 16px;
      .item-button-left{
        float: left;
      .item-button-like{
        color: #333;
        border: 1px solid #f5f5f5;
        background: #f5f5f5;
      }
      .item-button{
        padding: 8px 16px;
        display: inline-block;
        border-radius: 40px;
      }
      .item-button-report{
        margin-left: 8px;
        display:inline-block;
      }
      span{
        margin: 1px 0 0 8px;
        font-size: 14px;
        vertical-align: middle;
        display: inline-block;
      }
    }
      .heart-icon{
        vertical-align: middle;
        color: gray;
        font-size: 14px;
      }
      .flag-icon{
        font-size: 14px;
      }
      .item-button-right{
      float: right;
      margin-top: 8px;
      a{
        @include link();
        font-size: 14px;
      }
     }
    }
  }
}

.item-detail-message{
  @include tab() {
    margin: 8px auto;
    width: 700px;
  }
  .message-container{
   background-color: #fff;
    @include tab() {
    padding: 24px;
    }
    p{
    padding: 8px;
    font-size: 14px;
    background-color: #fff6de;
    }
    textarea{
      margin-top: 8px;
    }
    .textarea-default{
      width: 100%;
      max-width: 100%;
      min-height: 104px;
      padding: 10px;
      border: 1px solid #ccc;
      font-size: 16px;
      line-height: 1.5;
      background-color: #fff;
    }
    .message-submit{
      width: 100%;
      margin-top: 8px;
      text-align:center;
    }
  }
}

.nav-detail-item{
  @include tab() {
    margin: 24px auto;
    width: 700px;
  }
  li{
    position: relative;
    word-wrap:break-word;
    @include link();
    @include tab() {
      width: 45%;
    }
  }
    .nav-item-link-prev{
      float: left;
      padding-left: 14px;
    }
    .nav-item-link-next{
      float: right;
      padding-right: 14px;
      text-align: right;
  }
}

.item-social-media-box{
  background-color: #fff;
  @include tab() {
    margin: 24px auto;
    padding: 32px 0 24px;
    width: 700px;
  }
  .social-media-box{
  margin-top: 16px;
  text-align: center;
  font-size: 0;
    li{
    display: inline-block;
    margin: 0 8px 8px 0;
    vertical-align: middle;
    text-align: center;
    .sns-icon{
      width: 44px;
      border-radius: 6px;
      line-height: 44px;
      font-size: 18px;
      }
     .facebook-icon{
        color: #fff;
        background: #385185;
        font-size: 18px;
     }
    .twitter-icon{
      color: #fff;
      background-color: #5d9dc9;
      font-size: 18px;
    }
    .line-icon{
      color: #00c137;
      font-size: 50px;
    }
    .pinterest-icon{
    color: #aa262a;
    font-size: 50px;
    }
   }
  }
}

.item-in-user-profile{
  @include tab() {
    width: 700px;
    margin: 0 auto;
  }
  .items-box-head{
    margin: 24px 0 8px;
    font-size: 22px;
    line-height: 1.4;
    @include link();
  }
    .items-profile{
      margin-bottom: 40px;
      display: flex;
    .item-box{
      margin-right: 20px;
    }
  }
}

// 商品購入確定ページ
.buy-item{
  padding: 24px 12.5% 0;
  text-align: center;
  border-top: 1px solid #f5f5f5;
  .buy-content{
    max-width: 320px;
    margin: 0 auto;
    .buy-img{
      width: auto;
      max-height: 148px;
    }
    &__name{
      @include font();
      font-size: 16px;
    }
    .buy-price{
      font-size: 28px;
      @include font();
      .item-shipping-fee{
        font-size: 14px;
        font-weight: 400;
        margin-left: 8px;
        display: inline-block;
    }
   }
    .buy-point{
      padding: 16px;
      border: 1px solid #ccc;
      margin: 8px;
   }
   .buy-price-table{
    display: table;
    border-collapse: collapse;
    width: 100%;
    .buy-you-pay{
      display: table-row;
      .buy-price-cell{
        font-size: 28px;
        display: table-cell;
        padding: 16px 0;
        span{
          text-align: left;
        }
      }
     }
    }
    .has-error-text {
      color: #ea352d;
      font-size: 14px;
      @include font();
    }
    .btn-default{
      margin-top: 16px;
     }
   }
}

.buy-user-info{
  margin-top: 40px;
  .buy-content-inner{
    max-width: 320px;
    margin: 0 auto;
    text-align: left;
    .buy-user-info-text{
      margin-top: 8px;
      font-size: 14px;
      line-height: 1.4;
    }
    .buy-user-info-fix{
      float: right;
      color: #0099e8;
    }
  }
}

.buy-item:last-of-type{
  padding: 40px 12.5%;
}
