<<<<<<< HEAD
@import "./reset";
@import "font-awesome";
@import "./sidebar";
@import "./users";
@import "./footer_sell_btn";
html{
  box-sizing: border-box;
  background-color: rgb(245, 245, 245);
  margin: 0 auto;
  max-width:1020px;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1;
}
.l-container{
  margin: 40px auto 0 ;
  float: right;
  width:700px;
  box-sizing:border-box;
  .clearfix:after{
      clear:both;
      content: "";
      display:block;
    }
    section.user-icon {
        position: relative;
        height: 155px;
        padding: 20px;
        background: image-url('user_bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        a{
          figure{
            vertical-align: middle;
            width: 60px;
            height:auto;
            max-width:100%;
            max-height:100%;
            margin: 0 auto;
            img{
              border-radius: 100px;
            }
          }
          h2.bold{
            font-weight: 600;
            margin-top: 8px;
          }
          .user-number{
            margin-top: 8px;
            div{
              color: black;
              display: inline-block;
              span{
                margin: 0 0 0 8px;
                color: #333;
              }
            }
          }
        }
    }

    section.notification-todo{
      ul.notification-todo__tabs{
       width: 100%;
       letter-spacing: -0.4em;
       word-spacing: -0.1em;
      }
      ul.notification-todo__tabs li{
          vertical-align: top;
          text-align:center;
          width :50%;
          height: 74px;
          display: inline-block;
          margin: 0;
          letter-spacing: normal;
          background-color: #eee;
          &.active{
            background-color: white;
            border-top: 2px solid #ea352d;
          }
        h3{
            a{
              color: #333;
              font-size: 16px;
              line-height: 72px;
              font-weight: bold;
            }
          }
      }
      ul.notification__content{
        width: 100%;
        a.notification-todo__content-link{
          display: block;
          min-height: 80px;
          width: 100%;
          padding:16px;
          margin:0 0 2px;
          background-color: white;
          box-sizing: border-box;
          line-height: 1.5;
            img{
              float: left;
              padding-right: 16px;
              .clearfix::after{
                clear:both;
                content:"";
                display:block;
              }
            }
        }
        i.fas.fa-angle-right{
          float: right;
        }
        .mypage-go-list {
          margin-top: 2px;
          padding: 16px;
          background-color: white;
          a {
            display: block;
            height: 56px;
            margin: 0 auto;
            background: #eee;
            color: #333;
            line-height: 56px;
            text-align: center;
            }
        }
      }
      ul.todo__content{
        li{
          height: 236px;
          width: 700px;
          color: #eee;
        }
      }
    }
  }
  .history-container{
    margin-top: 40px;
    &__head{
      background-color: white;
      width: 100%;
      font-size: 16px;
      line-height: 72px;
      font-weight: bold;
    }
    &__tabs{
     width: 100%;
     letter-spacing: -0.4em;
     word-spacing: -0.1em;
     li{
        vertical-align: top;
        text-align:center;
        width :50%;
        height: 74px;
        display: inline-block;
        margin: 0;
        letter-spacing: normal;
        background-color: #eee;
        &.active{
          background-color: white;
          border-top: 2px solid #ea352d;
        }
      h3{
          a{
            color: #333;
            font-size: 16px;
            line-height: 72px;
            font-weight: bold;
          }
        }
      }
     }
    &__content{
      height: 236px;
      width: 100%;
      background-color: white;
      padding: 60px 0 60px;
      text-align: center;
      font-size: 16px;
      color: #ccc;
      box-sizing:border-box;
      img{
        display: block;
        margin: 0 auto 30px;
      }
    }
}
span{
  color: grey;
}
.my-gray{
  color: grey;
}
@media screen and (max-width: 1020px) {
  main.l-container{ width: 100%; }
}
=======
// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
>>>>>>> aya-y/master
