.mypage-container{
    margin: 40px auto 0 ;
    margin-bottom: 40px;
  @include pc() {
    width : 1020px;
  }
}

.l-container{
  float: right;
  width:700px;
  box-sizing:border-box;
}

section.user-icon {
    position: relative;
    height: 155px;
    padding: 20px;
    background: url('https://www.mercari.com/jp/assets/img/mypage/user-bg.jpg?96275498');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    a{
      figure{
        vertical-align: middle;
        width: 60px;
        height:auto;
        max-width:100%;
        max-height:100%;
        margin: 0 auto;
        img{
          border-radius: 100px;
        }
      }
      h2.bold{
        font-weight: 600;
        margin-top: 8px;
      }
      .user-number{
        margin-top: 8px;
        div{
          color: black;
          display: inline-block;
          span{
            margin: 0 0 0 8px;
            color: #333;
          }
        }
      }
    }
  }

.user-notification{
  width: 100%;
  height:100%;
  margin-bottom: 40px;
}
  section.notification-todo{
    ul.notification-todo__tabs{
     width: 100%;
     letter-spacing: -0.4em;
     word-spacing: -0.1em;
    }
    ul.notification-todo__tabs li{
        vertical-align: top;
        text-align:center;
        width :50%;
        height: 74px;
        display: inline-block;
        margin: 0;
        letter-spacing: normal;
        background-color: #eee;
        &.active{
          background-color: white;
          border-top: 2px solid #ea352d;
        }
      h3{
          a{
            color: #333;
            font-size: 16px;
            line-height: 72px;
            font-weight: bold;
          }
        }
    }
    ul.notification__content{
      width: 100%;
      a.notification-todo__content-link{
        display: block;
        min-height: 80px;
        width: 100%;
        padding:16px;
        margin:0 0 2px;
        background-color: white;
        box-sizing: border-box;
        line-height: 1.5;
          img{
            float: left;
        }
      }
      i.fas.fa-angle-right{
        float: right;
      }
      .mypage-go-list {
        margin-top: 2px;
        padding: 16px;
        background-color: white;
        a {
          display: block;
          background: #eee;
          line-height: 56px;
          text-align: center;
          }
      }
    }
    ul.todo__content{
      li{
        height: 236px;
        width: 700px;
        color: #eee;
      }
    }
  }


  .history-container{
    margin-top: 40px;
    &__head{
      background-color: white;
      width: 100%;
      font-size: 16px;
      line-height: 72px;
      font-weight: bold;
    }
    &__tabs{
     width: 100%;
     letter-spacing: -0.4em;
     word-spacing: -0.1em;
     li{
        vertical-align: top;
        text-align:center;
        width :50%;
        height: 74px;
        display: inline-block;
        margin: 0;
        letter-spacing: normal;
        background-color: #eee;
        &.active{
          background-color: white;
          border-top: 2px solid #ea352d;
        }
      h3{
          a{
            color: #333;
            font-size: 16px;
            line-height: 72px;
            font-weight: bold;
          }
        }
      }
     }
}

.mypage-item-not-found{
    padding: 160px 0 60px;
    text-align: center;
    font-size: 16px;
    color: #ccc;
    box-sizing:border-box;
    background: white url("https://www.mercari.com/jp/assets/img/common/common/logo-gray-icon.svg?96275498");
    background-size: 78px 85px;
    background-repeat: no-repeat;
    background-position: center 40px;
}

.my-gray{
  color: grey;
}
@media screen and (max-width: 1020px) {
  main.l-container{ width: 100%; }
}

.notification-todo__content-body{
  margin: 0 40px 0 68px;
}

.history-container__content{
  .mypage-item-list{
    display: none;
  }
  .mypage-item-not-found{
    display: none;
  }
  .active{
    display: block;
  }
}

.mypage-tab-container{
  background-color: white;
  .mypage-tab-head{
    background-color: #fafafa;
    font-size: 16px;
    line-height: 72px;
    @include tab() {
    padding: 0 16px;
      }
    }
    .listing-tabs{
      display: flex;
      border: 0;
      background-color: #eee;
      font-size: 16px;
      font-size: 16px;
      line-height: 72px;
      text-align: center;
      li{
        width: 33.3%;
      }
      .half-tab{
        width: 50%;
      }
        h3{
          color: #333;
      }
      .active{
      background-color: white;
      border-top: 2px solid #ea352d;
    }
  }
}

.notification__content{
  li{
    border-bottom: 1px solid #eee;
    position: relative;
    .mypage-item-link{
      min-height: 80px;
      padding: 16px;
      color: #333;
      display: block;
      figure{
        float: left;
        img{
          position: absolute;
        }
      }
      .mypage-item-body{
        margin: 0 40px 0 68px;
        i.fas.fa-angle-right{
          position: absolute;
          right: 16px;
          font-size: 20px;
        }
      }
    }
  }
}
