$pc: 1068px;
$tab: 768px;

@mixin pc {
  @media (min-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (min-width:($tab)) {
    @content;
  }
}

@mixin box-height() {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin form() {
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}

@mixin link(){
  color: #0099e8;
  text-decoration: none;
}

@mixin font(){
  margin-top: 8px;
  line-height: 1.5;
}

@mixin item-btn{
  color: $white;
  position: absolute;
  transform: rotate(-45deg);
  letter-spacing: 2px;
  left: 0;
  z-index: 2;
}

@mixin item-default-btn{
display: block;
  content: '';
  position: absolute;
  z-index: 1;
  border-style: solid;
  top: 0;
  left: 0;
  height:0;
  width:0;
}
